<?xml version='1.0' encoding='UTF-8' ?>
<!--
	
	Назначение файла	: 
	====================================================
	Версия сервера		: Aion-Knight 2.7 (Beta version)
	Версия клиента		: 2.7 (Иннова)
	====================================================
	
 -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

    <!-- Печать информации в консоль -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="[%p] %d{yyyy-MM-dd HH:mm:ss} - %m%n"/>
        </layout>
		<filter class="commons.log4j.filters.ConsoleFilter"/>
    </appender>

    <!-- Печатает все, что показано в консоли в файл 'console.log' -->
    <appender name="CONSOLE_TO_FILE" class="commons.log4j.appenders.TruncateToZipFileAppender">
        <param name="file" value="log/console.log"/>
        <param name="append" value="false"/>
        <param name="backupDir" value="log/backup"/>
        <param name="encoding" value="UTF-8"/>
        <param name="backupDateFormat" value="yyyy-MM-dd HH-mm-ss"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="[%p] %d{yyyy-MM-dd HH:mm:ss} - %c:%L - %m%n"/>
        </layout>
	  <filter class="commons.log4j.filters.ConsoleFilter"/>
    </appender>

    <!-- Принимает сообщения только с исключениями и регистрирует их в отдельный файл -->
    <appender name="ERROR_APPENDER" class="commons.log4j.appenders.TruncateToZipFileAppender">
        <param name="file" value="log/errors.log"/>
        <param name="append" value="false"/>
        <param name="backupDir" value="log/backup"/>
        <param name="encoding" value="UTF-8"/>
        <param name="backupDateFormat" value="yyyy-MM-dd HH-mm-ss"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="[%p %d{yyyy-MM-dd HH:mm:ss}] %c:%L - %m%n"/>
        </layout>
        <filter class="commons.log4j.filters.ThrowablePresentFilter"/>
    </appender>

    <!-- Конечный вид Logger -->
    <root>
        <priority value="info"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="CONSOLE_TO_FILE"/>
        <appender-ref ref="ERROR_APPENDER"/>
    </root>

    <categoryFactory class="commons.log4j.ThrowableAsMessageAwareFactory"/>

</log4j:configuration>